.home{
    position: relative;
}
.home_img{
    width: 100%;
    height:calc(100vh - 10vh);
    object-fit: cover;
}
.home h1{
    position: absolute;
    top: 150px;
    left: 100px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
}
